---
name: Lint-> super-linter (only event codebase)

on:
  release:
    types: [released]
  pull_request:
    branches: [master, main]

# set the run-name 
run-name: ${{ github.ref_name }} -> Super-linter (only event codebase) (
  ${{ github.run_attempt }}
  )


jobs:
  build:

    name: Lint code base part of the event
    runs-on: ubuntu-latest

    ############################################
    # Grant status permission for MULTI_STATUS #
    ############################################
    permissions:
      contents: read
      packages: read
      statuses: write

    steps:

      - name: Get current date and time
        id: datetime
        run: echo "datetime=$(date +'%Y-%m-%dT%H-%M-%SZ')" >> $GITHUB_OUTPUT

      - name: Display date/time in output (forensics  when triaging issues)
        run: echo ${{ steps.datetime.outputs.datetime }}

      - name: Checkout Code
        uses: actions/checkout@v3.6.0
        with:
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: super-linter/super-linter@v5
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_BASH_EXEC: false
          VALIDATE_JAVASCRIPT_STANDARD: false
          VALIDATE_PYTHON_ISORT: false